<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>查询会员</title>
    {% load static %}
    <link href="{% static 'css/d.css' %}"  type="text/css" rel="stylesheet" %} >
</head>

<body>
    <form action="/student/test/" method="post">
        {% csrf_token %}
        <p>
            <label for="ua">请输入你希望查询的会员姓名: </label><input type="text" name="uname" id="ua"/>
        </p>
              <input type="submit" value="查询" />
    </form>

    <h1 align="middle" >会员名称：  {{ fontdata.name }}</h1>
    <h1 align="middle">邮箱:   {{ fontdata.pwd }}</h1>
  <br><br>
  <br><br>
  <br><br>
  <br><br><br><br>
  <br><br>
  <br><br>
  <br><br>
  <div class="footer">
    <p>本页面由 wwy 制作 &copy;  <a href="#">隐私政策</a> | <a href="#">使用条款</a></p>
  </div>
</body>

</html>